:host {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  height: auto;
  max-height: 600px;
  background-color: #3ec1f4;
  border-radius: 1rem;
  padding: 1em;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .is-new-product {
  position: absolute;
  top: -1em;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-new-product .text-new-product {
  padding: 0.5em;
  background: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.header .article {
  margin: 0 auto;
  width: 90%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.information .container-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.container-information .title {
  font-size: 2em;
  font-weight: bold;
}

.container-information .price {
  font-size: 1em;
  font-weight: lighter;
}

.information .description {
  margin-bottom: 2em;
}

.add-item {
  position: absolute;
  bottom: -1em;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #31333a;
  border-radius: 50%;
}

.add-item .icon {
  color: white;
  font-size: 1.5em;
}